{% extends "base.html" %}
{% block content %}
 <div class="page-header">
        <h1>Report of {{ backtest.strategy.title }}</h1>
 </div>
    <div class="row">
     <div class="col-sm-6 col-md-3" style="border:1px">
        <img src="/static/img/{{ image }}">
    </div>
           <div class="col-sd-6">
          <table class="table">
              <thead>
              <tr>
                <th>Profit</th>
                <th>Sharp</th>
                <th>MaxDrawDown</th>
                <th>BuyNumber</th>
                  <th>ButProfit</th>
                  <th>SellNumber</th>
                  <th>SellProfit</th>
                  <th>Winrate</th>
                  <th>ProfitFactor</th>
                  <th>Std</th>
                  <th>MeanOfProfit</th>
              </tr>
            </thead>
    <tr>
        <td>{{ backtest.Profit }}</td>
        <td>{{ backtest.Sharp }}</td>
        <td>{{ backtest.MaxDrawdown }}</td>
        <td>{{ backtest.Buynumber }}</td>
        <td>{{ backtest.Buyprofit }}</td>
        <td>{{ backtest.Sellnumber }}</td>
        <td>{{ backtest.Sellprofit }}</td>
        <td>{{ backtest.Winrate }}</td>
        <td>{{ backtest.Profitfactor }}</td>
        <td>{{ backtest.Std }}</td>
        <td>{{ backtest.Mean }}</td>
    </tr>
          </table>
           </div>
    </div>
{% endblock %}