
{% extends "base.html" %}
{% block content %}
 <div class="page-header">
        <h1>Backtest</h1>
 </div>

       <div class="row">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Strategy</th>
                <th>Profit</th>
                  <th>Sharp</th>
                  <th>WinRate</th>
                  <th>ProfitFactor</th>
                  <th>DELETE</th>
              </tr>
            </thead>
            <tbody>
    {% for i in index %}
    <tr>
        <td>{{ i.pk }}</td>
        <td>{{ i.strategy.title }}</td>
        <td>{{ i.Profit }}</td>
        <td>{{ i.Sharp }}</td>
        <td>{{ i.Winrate }}</td>
        <td>{{ i.Profitfactor }}</td>
        <td><a href="/backtest/detail/{{ i.pk }}/">DETAIL</a></td>
        <td><a href="/backtest/delete/{{ i.pk }}/">DELETE</a></td>

    </tr>
    {% endfor %}
            </tbody>
          </table>
        </div>
       </div>

{% endblock %}